.players_boost
  position: relative
.teamA, .teamB
  position: absolute
  width: 160px
.teamA
  left: 6px
  top: 40vh
.teamB
  right: 6px
  top: 40vh
.player
  position: relative
  background-color: rgba(200, 200, 200, .4)
  border-radius: 4px
  margin-bottom: 6px
  .player_name, .player_boost
    position: absolute
    top: 5px
  .player_boost
    right: 6px
  .player_name
    left: 6px
    font-weight: bold
.player_boost_bg
  background-color: #299999
  height: 30px
  border-radius: 4px